<div class="row">
  <div class="col m4">
    <h5 class="center-align">Lorem ipsum</h5>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyamra</p>
  </div>
  <div class="col m4">
    <h5 class="center-align">Lorem ipsum</h5>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyamra</p>
  </div>
  <div class="col m4">
    <h5 class="center-align">Lorem ipsum</h5>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyamra</p>
  </div>
</div>

<h2>Rentals Categories</h2>

<div class="row">
  {{#each model as |category|}}
    {{category-card category=category}}
  {{/each}}
</div>
