<nav>
  <ul>
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li>{{#link-to "static-pages.about"}}About{{/link-to}}</li>
    <li>{{#link-to "static-pages.contact"}}Contact{{/link-to}}</li>
    <li>{{#link-to "cart"}}Your Cart({{cart.size}}){{/link-to}}</li>
  </ul>
  {{app-spinner showSpinner=showSpinner}}
</nav>

<main>
  <div class="container">
    {{liquid-outlet}}
  </div>
</main>
